.success {
   background-color: darkseagreen;

}

.error {
   background-color: rosybrown;
}

h1.header{
margin: 0px;
font-size: 10rem;
display:block;
font-family: 'Gill Sans', sans-serif;
letter-spacing: 15px;
line-height: 30rem;
text-align:center;
color:#ffffff ;
text-shadow:
    0 1px #8E9494 ,
   -1px 0 #ffffff ,
   -1px 2px #8E9494 ,
   -2px 1px #ffffff ,
   -2px 3px #8E9494 ,
   -3px 2px #ffffff ,
   -3px 4px #8E9494 ,
   -4px 3px #ffffff ,
   -4px 5px #8E9494 ,
   -5px 4px #ffffff ,
   -5px 6px #8E9494 ,
   -6px 5px #ffffff ,
   -6px 7px #8E9494 ,
   -7px 6px #ffffff ,
   -7px 8px #8E9494 ,
   -8px 7px #ffffff ;
}

.link_to {
  font-size: 5rem;
display:block;
font-family: 'Gill Sans', sans-serif;
letter-spacing: 15px;
line-height: 30rem;
text-align:center;
color:#ffffff ;
text-shadow:
    0 1px #8E9494 ,
   -1px 0 #ffffff ,
   -1px 2px #8E9494 ,
   -2px 1px #ffffff ,
   -2px 3px #8E9494 ,
   -3px 2px #ffffff ,
   -3px 4px #8E9494 ,
   -4px 3px #ffffff ,
   -4px 5px #8E9494 ,
   -5px 4px #ffffff ,
   -5px 6px #8E9494 ,
   -6px 5px #ffffff ,
   -6px 7px #8E9494 ,
   -7px 6px #ffffff ,
   -7px 8px #8E9494 ,
   -8px 7px #ffffff ;
}

div.body-panel {
    display: inline-block;
}

.rainbow-text {
 font-family: 'Bangers', cursive;
 letter-spacing: 0px;
 text-shadow: 
   3px 3px 120px rgba(255, 255, 255, .65), 
   2px 2px 2px rgba(255, 255, 255, .5);
 margin: 0;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.panel-heading {
    width: 300px;
}

.panel{
    display: -webkit-box
}

img {
    max-width: 200px;
    max-height: 200px;
}

div.pheader{
    width: 100%;
    background: -webkit-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* Chrome 10+, Saf5.1+ */
 background:    -moz-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* FF3.6+ */
 background:     -ms-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* IE10 */
 background:      -o-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* Opera 11.10+ */
 background:         linear-gradient(90deg, #EB3349  10%, #F45C43 90%); /* W3C */

    }

html {
  max-width: 100%;
  max-height: 100%;
  background: -webkit-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* Chrome 10+, Saf5.1+ */
 background:    -moz-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* FF3.6+ */
 background:     -ms-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* IE10 */
 background:      -o-linear-gradient(90deg, #EB3349  10%, #F45C43  90%); /* Opera 11.10+ */
 background:         linear-gradient(90deg, #EB3349  10%, #F45C43 90%); /* W3C */
}